{% extends "base.html" %}

{% block title %} 
Testatkarten - Administration
{% endblock %}

{% block heading %} 
Administration
{% endblock %}

{% block body %}

<h2>Projekte</h2>
<ul>
    {% for p in projects %}
        <li> 
            <a href="{{url_for('cards_show', project_name=p)}}"> {{ p }} </a>
            |
            <a href="{{url_for('admin_cards_visibility', project_name=p, visible=0)}}"> hide </a>
            |
            <a href="{{url_for('admin_cards_visibility', project_name=p, visible=1)}}"> unhide </a>
        </li>
    {% endfor %}
</ul>

<h2>Alle Testatkarten</h2>

<button hx-get="{{ url_for('admin_cards_table') }}" 
    hx-disabled-elt="this"
    hx-swap="outerHTML"> 
    Alle Karten einblenden (kann etwas dauern)
</button>

<h2>Nutzer</h2>

{% for user in users %}
    <details>
        <summary>
            {{ user.get_id() }} 
            {% if user.is_admin() %} (Admin) {% endif %}
            ({{ user.dbu.cards|length }})</span>
        </summary>       
        <p>
            Cards: <br>
            {% for card in user.dbu.cards %}
                {{ card }}<br>
            {% endfor %}
        </p> 
    </details> 

{% endfor %}

<form action="{{ url_for('admin_user_add') }}" method="POST">
    <input name="uid" placeholder="Neuer Nutzer">
</form>

<hr>

{% endblock %}
