<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" 
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
        href="{{ url_for('static', filename='water.css') }}">
    
    <title>
    {% block title %}
    {% endblock %}
    </title>
    <!-- TODO use local file -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <blockquote>
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </blockquote>
    {% endif %}
    {% endwith %}

    {% block menubar %}
    <a href="{{url_for('index')}}">🏠 Start </a> |
    {{ current_user.get_id() }}
    {% if current_user.is_admin() %}
      <a href="{{ url_for('admin') }}">
      (Admin)
      </a>
    {% endif %}
    |
    <a href="{{url_for('logout')}}">logout</a> |
    {% endblock %}

    <h1>{% block heading %} {% endblock %}</h1>

    {% block body %}
    {% endblock %}

</body>

</html>