{% extends "base.html" %}

{% block title %} 
Testatkarte {{ card.project_name}}
{% endblock %}

{% block heading %} 
Testatkarte {{ card.project_name}} von {{ card.student_name }}
{% endblock %}

{% block body %}

<ol>
    {% for m in card.milestones %}
    <li> 
        {{m.description }}
        <br>
        {% if not m.is_completed() %}
        <strong>
            <a href="{{ url_for('card_sign', mid=m.id) }}">abzeichnen</a> 
        </strong>
        {% else %}
            <a href="{{ url_for('card_unsign', mid=m.id) }}">rückgängig</a>
            <em>
                ({{m.finished.strftime('%Y-%m-%d') }}, {{m.signed_by}})
            </em>
        {% endif %}
    </li>
    {% endfor %}
</ol>
<hr>
<a href="{{ url_for('toggle_card_visibility', cid=card.id) }}" 
    title="{% if card.is_visible %}Verbergen{% else %}Anzeigen{% endif %}">
    {% if card.is_visible %}
    Karte verbergen
    {% else %}
    Karte anzeigen
    {% endif %}
</a>

{% endblock %}

