{% extends "base.html" %}

{% block title %} 
Testatkarte {{ card.project_name}}
{% endblock %}

{% block heading %} 
Testatkarte {{ card.project_name}} von {{ card.student_name }}
{% endblock %}

{% block body %}

<ul>
    {% for m in card.milestones %}
    <li> {{m.description }}
        {% if not m.finished %}
            <a href="{{url_for('card_sign', mid=m.id)}}">abzeichnen</a> 
        {% else %}
            ({{m.finished}}, {{m.signed_by}})
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}

