{% extends "base.html" %}

{% block title %} 
Testatkarten
{% endblock %}

{% block heading %} 
Testatkarten "{{ project_name }}"
{% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
            <th><a href="{{ url_for('cards_show', project_name=project_name, order_by='student_name') }}">
                Student
                </a>
            </th> 
            <th><a href="{{ url_for('cards_show', project_name=project_name, order_by='completion') }}">
                Vollständigkeit
                </a> 
                (Mittel: {{ avg_completion|round(2) }})                
            </th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        {% set compl, tot = card.completed_status() %}        
        <tr>
            <td><a href="{{url_for('card_show', cid=card.id)}}">{{ card.student_name }}</a></td>
            <td>
                {% for m in card.milestones %}
                    <span title="{{ m.description }}">
                        {% if m.is_completed() %}
                        ⬤
                        {% else %}
                        ◯
                        {% endif %}
                    </span>
                {% endfor %} |
                {{ compl }} / {{ tot }}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<hr>
<div style="text-align: right;">
    <a href="{{ url_for('cards_export', project_name=project_name) }}"
        title="Export">Export</a>
</div>

<details>
    <summary>Letzte Meilensteine
    </summary>
    <ul>
        {% for ms in last_completed_milestones %}
        <li>
            <a href="{{url_for('card_show', cid=ms.card.id)}}">{{ ms.card.student_name }}</a>:
            {{ms.description|truncate(50)}}
            ({{ms.finished.strftime("%Y-%m-%d")}})
        </li>
        {% endfor %}
    </ul>
</details>

<details>
    <summary>Meilenstein hinzufügen
    </summary>
    <form action="{{ url_for('milestone_add') }}" method="POST">
        <input name="milestone_description" placeholder="Neuer Meilenstein" required>
        <input type="hidden" name="project_name" value="{{project_name}}">
        <input type="submit" value="Hinzufügen">
    </form>
</details>
   

<details>
    <summary>Schüler, Schülerin hinzufügen
    </summary>
    <form action="{{ url_for('card_create', project_name=project_name) }}" method="POST">
        <input name="student_name" placeholder="Schüler/Schülerin" required>
        <input type="submit" value="Hinzufügen">
    </form>
</details>

{% endblock %}
