{% extends "base.html" %}

{% block title %} 
Testatkarten
{% endblock %}

{% block heading %} 
Testatkarten "{{ project_name }}"
{% endblock %}

{% block body %}

<table>
    <thead>
        <tr>
            <th>Student</th> <th>Vollständigkeit</th>
        </tr>
    </thead>
    <tbody>
        {% for card in cards %}
        {% set compl, tot = card.completed_status() %}        
        <tr>
            <td><a href="{{url_for('card_show', cid=card.id)}}">{{ card.student_name }}</a></td>
            <td>
                {% for m in card.milestones %}
                    <span title="{{ m.description }}">
                        {% if m.is_completed() %}
                        ⬤
                        {% else %}
                        ◯
                        {% endif %}
                    </span>
                {% endfor %} |
                {{ compl }} / {{ tot }}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
{# TODO new students only visible to current user.
<details>
<summary>Schüler, Schülerin hinzufügen
</summary>
    <form action="{{ url_for('card_create', project_name=project_name) }}" method="POST">
        <input name="student_name" placeholder="Schüler/Schülerin" required>
        <input type="submit" value="Hinzufügen">
    </form>
</details>
#}

{% endblock %}
