{% extends "base.html" %}

{% block title %} 
Testatkarten
{% endblock %}

{% block heading %} 
Testatkarten
{% endblock %}

{% block body %}

<h2>Projekte</h2>
<ul>
    {% for p in projects %}
        <li> 
            <a href="{{url_for('cards_show', project_name=p)}}"> {{ p }} </a>
            {% if current_user.is_admin() %}
                <a href="{{url_for('cards_hide', project_name=p)}}"> *hide* </a>            
            {% endif %}
        </li>
    {% endfor %}
</ul>

<strong>
    ➕ <a href="{{url_for('card_create')}}">Projekt erstellen</a>
</strong>

{% if current_user.is_admin() %}

<h2>*Alle Testatkarten*</h2>

<details>
    <summary>zeigen</summary>

    <table>
        <thead>
            <tr>
                <th>Projekt </th> <th>Student</th> <th>Vollständigkeit</th>
            </tr>
        </thead>
        <tbody>
            {% for card in cards %}
            {% set compl, tot = card.completed_status() %}
            <tr>
                <td>{{card.project_name}}
                    {% if not card.is_visible %}
                    <a href="{{url_for('card_unhide', cid=card.id)}}">*unhide*</a>
                    {% endif %}
                </td>
                <td><a href="{{url_for('card_show', cid=card.id)}}">{{ card.student_name }}</a></td>
                <td>{{ compl }} / {{ tot }}
                    {% if compl == tot %}
                    ☺️
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</details>

{% endif %}

{% endblock %}
